
#calc-body {
    display: flex;
    flex-direction: column;  /* Stack elements vertically */
    gap: 15px;  /* Add space between each input-row */
    padding: 20px;
    margin: 0 auto;   /* Center the container */
    width: 350px;
    background-color: #ECF0F3;
    box-shadow: 18px 18px 30px #D1D9E6,-18px -18px 30px #FFF ;
    border-radius: 7.5%
    
}

/* Style for each label-input pair */
.input-row {
    display: flex;
    justify-content: space-between; /* Ensure label and input are spread across the row */
    align-items: center;  /* Align items vertically */
    width: 100%;  /* Ensure full width */
}

/* Style for each label */
label {
    width: 125px;  /* Set a fixed width for labels so they align in columns */
    font-size: 24px; /* Optional: Adjust font size for better readability */
}

/* Style for input fields */
input[type="number"], input[type="checkbox"] {
    text-align: left;
    margin-top: 8px;
    margin-left: 25%;
    padding: 5px;        /* Optional: Add padding for better spacing */
    width: 35px;        /* Set a fixed width for the inputs */
    border-width: 1.8px;
    background-color: #ECF0F3;
    box-shadow: 18px 18px 30px #D1D9E6,-18px -18px 30px #FFF ;
    font-size: 18px;
    
    
}

/* Align the unit next to the input */
.unit {
    margin-left: 0;  /* Adjust spacing between input and unit */
    font-size: 24px;
}


h1 {
    margin: auto;
    width: 300px;
    text-align: center;
    color: black;
    border-radius: 2.5%;
    font-weight: 500;
    background-color: rgba(236 240 243, 0);
    box-shadow:  12px 12px 30px #6880a7,-18px -18px 30px rgb(255, 255, 255) ;
}

/* Desktop Styles */
@media (min-width: 600px) {
    #calc-body {
        width: 600px;
    }

    .input-row {
        flex-direction: row;
        justify-content: space-between;
    }

    label {
        font-size: 32px;
        width: 300px;
    }

    input[type="number"], input[type="checkbox"] {
        width: 80px;
        font-size: 24px;
        border-width: 2.4px;
    }

    .unit {
        font-size: 32px;
    }
}


